*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

body {
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
}

.body-fluid {
    margin-top: 0;
}

/*==================================================
  Post Contents CSS
  ==================================================*/

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-main-container {
    align-self: center;
    padding-top: 1vh;
    width: 60%;
    max-width: 600px;
    min-width: 206px;
}

.post-header {
    display: flex;
}

.user-post-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0.5vh;
    object-fit: cover;
}

.post-user-profile-link {
    text-decoration: none;
}

.user-post-info {
    margin-left: 0.5vh;
}

.post-footer {
    background-color: oldlace;
}

.post-footer-info-container {
    display: flex;
}

.post-footer-info {
    flex: 1;
    text-align: center;
    font-size: 12px;
    text-wrap: nowrap;
}

.post-footer-interactions-container {
    display: flex;
}

.post-footer-interactions {
    flex: 1;
    text-align: center;
}

.post-interactions-image {
    width: 30px;
    height: 30px;
}

