.admin-panel-comment {
    margin: 5px;
}
#go-back-link {
    margin: 5px;
}
.comment-id-container {
    margin: 0px 0px 0px 5px;
}
.comment-date-container {
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    box-sizing: border-box;
    border-bottom: 5px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}
.comment-content {
    margin: 5px 5px 1em 5px;
}
.admin-comment-actions-container {
    display: flex;
}
.goto-comment-link-container {
    display: flex;
    flex: 1;
}
#goto-comment-link {
    margin: 5px;
    font-size: small;
}
.delete-comment-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}
.delete-comment-button {
    font-size: small;
    background-color: rgb(225, 52, 52);
    color: white;
    border: 1px solid #0a53be;
    border-radius: 4px;
    padding: 5px 10px;
}